.containerRecipe {
  width: 500px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 20px auto;
  background-color: coral;
}

.containerRecipe h1 {
  text-align: center;
}

.containerRecipe form {
  padding: 0 0 20px;
  text-align: center;
}

.containerRecipe ul#recipeList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.containerRecipe ul#recipeList li {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 3px;
}

.containerRecipe ul#recipeList li:hover {
  background-color: grey;
}

.containerRecipe ul#recipeList .step.completed label {
  text-decoration: line-through;
  color: #999;
}

.containerRecipe .footer {
  margin-top: 10px;
  background: #323232;
  color: grey;
  padding: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.containerRecipe .footer a:link,
.footer a:hover,
.footer a:visited {
  color: grey;
  text-decoration: none;
}
